<h3>Survey form:</h3>

<form action="submit" method="post">
name:<input type="text" name="name" value=""><br />
dojo location:<input type="text" name="location" value=""><br />
favorite language:<input type="text" name="fav" value=""><br />
comment: <input type="text" name="comment" value=""><br />
<input type="submit" name="" value="Submit">
<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
</form>
