<h3>Seach here:</h3>
<form action="properties" method="post">
<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
<input type="text" name="search" value="">
<input type="submit" name="" value="Submit">
</form>
<h3>My Google Maps Demo</h3>
    <div id="map"></div>
    <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5EqfW4M_IDdoytLXisxhfJRfIyKthc80&callback=initMap">
  </script>
