<h1>Edit Page:</h1>

<form action="index.html" method="post">
  Name: <input type="text" name="name" value="<%= @user.name %>">
  Email: <input type="text" name="name" value="<%= @user.email %>">
  <input type="Submit" name="" value="Submit">
</form>
